@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
    box-sizing : border-box;
}

body {
    background-color:black;
    color:white;
    font-size:14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
    background-color:white;
    color:black;
}

a {
    text-decoration:none;
    color:inherit;
}

form {
    width:100%;
}

.container{
    width: 100%;
    max-width:320px;
    display:flex;
    flex-direction: column;
}

form input{
    margin : 5px;
    border-radius:10px;
    height:30px;
    color:black;
    background-color:white;
    text-align:center;
    border : 1px solid orange
}

.google, .github{
    border-radius:10px;
    margin-top:5px;
    cursor:pointer;
}

.formbtn, .regbtn{
    cursor:pointer;
    background-color:orange;
    color:white;
    width: 100%;
    max-width:320px;
    height:30px;
    margin : 5px;
    border-radius:10px;
}

.authContainer{
    display:flex; 
    flex-direction:column;
    height:100vh;
    justify-content:center; /*가로의 중심*/
    align-items:center; /*세로의 중심 */
}

.registerContainer{
    display: flex;
    flex-direction:column;
    height:100vh;
    justify-content: center;
    align-items: center;
}

.nav-wrapper{
    background-color: orange;
}

#myMap{
    margin:20px;
    height:500px;
    width:500px;
}

.mapContainer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}